{% extends 'hospital/base.html' %}
{% load static %}
{% block body %}

   <!-- banner 2 -->
   <div class="inner-banner-w3ls">
      <div class="container">

      </div>
   </div>

   <!-- authentication error -->
   <div class="appointment py-5">
      <div class="py-xl-5 py-lg-3">
         <div class="w3ls-titles text-center mb-5">
            <h3 class="title">User Alredy Exists</h3>
            <span>
               <i class="fas fa-user-md"></i>
            </span>
             <h5 class="mt-2">Please Try A Different Username And Password</h5>
            </div>
            <div class="clerafix"></div>
         </div>
      </div>
   </div>
   <!-- authentication error -->
{% endblock %}