{% extends 'hospital/base.html' %}
{% load static %}
{% block body %}

	<!-- //header 2 -->

	<!-- banner 2 -->
	<div class="inner-banner-w3ls">
		<div class="container">

		</div>
		<!-- //banner 2 -->
	</div>
	<!-- page details -->
	<div class="breadcrumb-agile">
		<div aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{% url 'hospital:index' %}">Home</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Appointment</li>
			</ol>
		</div>
	</div>
	<!-- //page details -->

	<!-- contact -->
	<!-- <div class="appointment py-5">
		<div class="py-xl-5 py-lg-3">
			<div class="w3ls-titles text-center mb-5">
				<h3 class="title">Doctor profile</h3>
				<span>
					<i class="fas fa-user-md"></i>
				</span>
				<p class="mt-2"></p>
            </div> -->
            <section class="team py-5">
                <div class="container py-xl-5 py-lg-3">
                    <div class="w3ls-titles text-center mb-5">
                        <h3 class="title">Doctors Profile</h3>
                        <span>
                            <i class="fas fa-user-md"></i>
                        </span>
                        <p class="mt-2">World told me I would never walk again. My Doctor told me I would. I believed my doctor.</p>
					</div>
					<div class="w3ls-titles text-center mb-5">
					<h4 class="title">Specialist</h4>
					<br>
					</div>
                    <div class="row inner-sec-w3layouts-agileinfo">
                        <div class="col-md-4 team-grids text-center">
                            <img src="../../../media/hospital/indian-doctor-woman.jpg" class="img-fluid" alt="">
                            <div class="team-info">
                                <div class="caption">
                                    <h4>Sikha Verma</h4>
                                </div>
                                <div class="social-icons-section">
                                    <a class="fac" href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                    <a class="pinterest" href="#">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
        
                                </div>
        
                            </div>
                        </div>
                        <div class="col-md-4 team-grids my-md-0 my-4 text-center">
                            <img src="../../../media/hospital/male-indian-doctor-and-stethoscope.jpg" class="img-fluid" alt="">
                            <div class="team-info">
                                <div class="caption">
                                    <h4>Aman Kalra</h4>
                                </div>
                                <div class="social-icons-section">
                                    <a class="fac" href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                    <a class="pinterest" href="#">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
        
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 team-grids text-center">
                            <img src="../../../media/hospital/indian-doctor-portrait.jpg" class="img-fluid" alt="">
                            <div class="team-info">
                                <div class="caption">
                                    <h4>Shweta Kaushal</h4>
                                </div>
                                <div class="social-icons-section">
                                    <a class="fac" href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                    <a class="pinterest" href="#">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
					</div>
					<br><br>
					<div class="w3ls-titles text-center mb-5">
					<h4 class="title">Specialist</h4>
					<br>
					</div>
					<div class="col-md-4 team-grids text-center">
                        <img src="../../../media/hospital/indian-doctor-portrait.jpg" class="img-fluid" alt="">
                        <div class="team-info">
                            <div class="caption">
                                <h4>Shweta Kaushal</h4>
                            </div>
                            <div class="social-icons-section">
                                <a class="fac" href="#">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a class="twitter" href="#">
                                    <i class="fab fa-twitter-square"></i>
                                </a>
                                <a class="pinterest" href="#">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </div>
                        </div>
					</div>
					<br><br>
					<div class="w3ls-titles text-center mb-5">
					<h4 class="title">Specialist</h4>
					<br>
					</div>
					<div class="col-md-4 team-grids my-md-0 my-4 text-center">
                        <img src="../../../media/hospital/male-indian-doctor-and-stethoscope.jpg" class="img-fluid" alt="">
                        <div class="team-info">
                            <div class="caption">
                                <h4>Aman Kalra</h4>
                            </div>
                            <div class="social-icons-section">
                                <a class="fac" href="#">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a class="twitter" href="#">
									<i class="fab fa-twitter-square"></i>
                                </a>
                                <a class="pinterest" href="#">
                                    <i class="fab fa-pinterest"></i>
								</a>
							</div>
                        </div>
					</div>
                </div>
            </section>
			<!-- <div class="d-flex">
				<div class="appoint-img"> -->

				<!-- </div>
				<div class="contact-right-w3l appoint-form"> -->
					<!-- <h5 class="title-w3 text-center mb-5">Fill your appointment form</h5> -->
					<!-- <form action="#" method="post"> -->
						<!-- <div class="form-group">
							<label for="recipient-name" class="col-form-label">Your Name</label>
							<input type="text" class="form-control" placeholder="Your Name " name="Name" id="recipient-name" required="">
						</div>
						<div class="form-group">
							<label for="recipient-phone" class="col-form-label">Your Email</label>
							<input type="email" class="form-control" placeholder="Your Email" name="email" id="recipient-phone" required="">
						</div> -->
						<!-- <div class="form-group">
							<label for="datepicker" class="col-form-label">Select your doctor</label>
							<select required="" class="form-control">
								<option value="">Select your doctor</option>
								<option value="1">Jaspreet Singh</option>
								<option value="2">Aman Kalra</option>
								<option value="3">Sonia Verma</option>
								<option value="4">Jagriti</option>
							</select>
						</div>
						<div class="form-group">
							<label for="datepicker" class="col-form-label">Appointment date</label>
							<input placeholder="Date" class="date form-control" id="datepicker" type="text" value="" onfocus="this.value = '';"
							    onblur="if (this.value == '') {this.value = '';}" required="" />
						</div>
						<div class="form-group">
							<label for="datepicker" class="col-form-label">Select appointment time</label>
							<select required="" class="form-control">
								<option value="">Select Time</option>
								<option value="1">Morning</option>
								<option value="2">Afternoon</option>
								<option value="3">Evening</option>
							</select>
						</div>
						<div class="form-group">
							<label for="recipient-city" class="col-form-label">City</label>
							<input placeholder="city" class="date form-control"
							 type="text">
							
						</div>
						<div class="form-group">
							<label for="datepicker" class="col-form-label">Select Speciality</label>
							<select required="" class="form-control">
								<option value="">Select Speciality</option>
								<option value="1">Dermatology</option>
								<option value="2">ENT</option>
								<option value="3"> Genaral Medicine</option>
								<option value="4">Nutritionist</option>
							</select>
						</div>
						<input type="submit" value="Book Appointment" class="btn_apt">
					</form>
				</div>
				<div class="clerafix"></div>
			</div>
		</div>
	</div> -->
	<!-- //contact -->
{% endblock %}