{% extends 'hospital/base.html' %}
{% load static %}
{% block body %}

	<!-- //header 2 -->

	<!-- banner 2 -->
	<div class="inner-banner-w3ls">
		<div class="container">

		</div>
		<!-- //banner 2 -->
	</div>
	<!-- page details -->
	<div class="breadcrumb-agile">
		<div aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{% url 'hospital:index' %}">Home</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Gallery</li>
			</ol>
		</div>
	</div>
	<!-- //page details -->

	<!-- gallery -->
	<div class="gallery py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="w3ls-titles text-center mb-5">
				<h3 class="title">Gallery</h3>
				<span>
					<i class="fas fa-user-md"></i>
				</span>
				<p class="mt-2">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<section>
				<ul id="da-thumbs" class="da-thumbs">
					<li>
						<a href="images/g1.jpg" rel="" class="b-link-stripe b-animate-go  thickbox" title="Medic">
							<img src="../../../media/hospital/g1.jpg" alt="" class="img-fluid" />
							<div>
								<h5>Medic</h5>
								<span>Sed ut perspiciatis unde omnis iste natus error sit</span>
							</div>
						</a>
					</li>
					<li>
						<a href="images/g2.jpg" rel="" class="b-link-stripe b-animate-go  thickbox" title="Medic">
							<img src="../../../media/hospital/g2.jpg" alt="" class="img-fluid" />
							<div>
								<h5>Medic</h5>
								<span>Sed ut perspiciatis unde omnis iste natus error sit</span>
							</div>
						</a>
					</li>
					<li>
						<a href="../../../media/hospital/g3.jpg" rel="" class="b-link-stripe b-animate-go  thickbox" title="Medic">

							<img src="../../../media/hospital/g3.jpg" alt="" class="img-fluid" />
							<div>
								<h5>Medic</h5>
								<span>Sed ut perspiciatis unde omnis iste natus error sit</span>
							</div>
						</a>
					</li>
					<li>
						<a href="images/g4.jpg" rel="" class="b-link-stripe b-animate-go  thickbox" title="Medic">

							<img src="../../../media/hospital/g4.jpg" alt="" class="img-fluid" />
							<div>
								<h5>Medic</h5>
								<span>Sed ut perspiciatis unde omnis iste natus error sit</span>
							</div>
						</a>
					</li>
					<li>
						<a href="images/g6.jpg" rel="" class="b-link-stripe b-animate-go  thickbox" title="Medic">

							<img src="../../../media/hospital/g6.jpg" alt="" class="img-fluid" />
							<div>
								<h5>Medic</h5>
								<span>Sed ut perspiciatis unde omnis iste natus error sit</span>
							</div>
						</a>
					</li>
					<li>
						<a href="images/g9.jpg" rel="" class="b-link-stripe b-animate-go  thickbox" title="Medic">

							<img src="../../../media/hospital/g9.jpg" alt="" class="img-fluid" />
							<div>
								<h5>Medic</h5>
								<span>Sed ut perspiciatis unde omnis iste natus error sit</span>
							</div>
						</a>
					</li>
					<li>
						<a href="images/g8.jpg" rel="" class="b-link-stripe b-animate-go  thickbox" title="Medic">

							<img src="../../../media/hospital/g8.jpg" alt="" class="img-fluid" />
							<div>
								<h5>Medic</h5>
								<span>Sed ut perspiciatis unde omnis iste natus error sit</span>
							</div>
						</a>
					</li>
					<li>
						<a href="images/g7.jpg" rel="" class="b-link-stripe b-animate-go  thickbox" title="Medic">

							<img src="../../../media/hospital/g7.jpg" alt="" class="img-fluid" />
							<div>
								<h5>Medic</h5>
								<span>Sed ut perspiciatis unde omnis iste natus error sit</span>
							</div>
						</a>
					</li>
					<li>
						<a href="images/g5.jpg" rel="" class="b-link-stripe b-animate-go  thickbox" title="Medic">

							<img src="../../../media/hospital/g5.jpg" alt="" class="img-fluid" />
							<div>
								<h5>Medic</h5>
								<span>Sed ut perspiciatis unde omnis iste natus error sit</span>
							</div>
						</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
	<!-- //gallery -->
{% endblock %}